---
import Icon from "./Icon.astro";
import type { iconPaths } from "./IconPaths";

const navLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about/" },
  { label: "Skills", href: "/skills/" },
]

const IconLinks: { label: string; href: string, icon: keyof typeof iconPaths }[] = [
  { label: "Twitter", href: "https://x.com", icon: "x-logo"  },
  { label: "GitHub", href: "https://github.com/hikaru-champion", icon: "github-logo" },
]

---
<nav class="z-auto font-medium font-sans">
  <div class="container mx-auto flex justify-center">  
    <ul class="flex bg-gray-200 border-gray-400">
      {
        navLinks.map(({ label, href }) => (
          <li class="mr-4">
            <a href={href}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex justify-between gap-3 p-6 bg-gray-900 rounded-bl-md rounded-br-md shadow-lg">
    <div>
      <ul>
        {
          IconLinks.map(({ label, href, icon }) => (
            <li>
              <a href={href}>
                <span class="flex p-1 md:hidden">{label}</span>
                <Icon icon={icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>  
</nav>
